.UserList {
    border-right: 2px solid grey; 
    height: 100%;
    left: 60px;
    margin: 0;
    position: fixed;
    width: 250px;
    text-align: left;
    top: 0;
}

.UserListHeading {
    background-color: #d1cfd0;
    font-size: 1.5rem;
    margin: 0;
    padding: 8px;
}